@media(max-width:768px){
  form input {
      width: 100%;
      font-size: larger;
    }
    .container {
      width: 100%;
      /* height: 0vh; */
      box-shadow: none;
      overflow: hidden;
    }

    .forem {
      padding-left: 0;
      font-size: 15px;
    }

    .custom-shape-divider-top-1684953390 svg {
      display: none;
  }

 
  form div {
  
    width: 100%;
  }
  .title h1{
    font-size: 3.5rem;
  }
  .title p{
    font-size: 1.2rem;
  }
    
}





@media(max-width:477px){
    form input {
        width: 100%;
        font-size: larger;
      }
      .container {
        width: 100%;
      }

      .forem {
        padding-left: 0;
        font-size: 17px;
      }
}